# File Python yang diabaikan secara umum
__pycache__/
*.pyc
.pytest_cache/
screenshots/
Report_Test/

# Virtual Environment (penting!)
venv/
env/
chromedriver.exe
geckodriver.exe
.DS_Store
.idea/
.vscode/
screenshots/