# File Python yang diabaikan secara umum
__pycache__/
*.pyc
.pytest_cache/
screenshots/
Report_Test/

# Virtual Environment (penting!)
venv/
.venv/

# Cache WebDriver Manager
.wdm/

# Laporan HTML (Hasil run)
*.log